@page
@model WebApp.Pages.Book.DetailModel
@{
	ViewData["Title"] = "Book Details";
}

<h1>Book Details</h1>
<hr />
<div>
	<dl class="row">
		<dt class="col-2">
			@Html.DisplayNameFor(model => model.Books.BookTitle)
		</dt>
		<dt class="col-10">
			@Html.DisplayFor(model => model.Books.BookTitle)
		</dt>
		<dt class="col-2">
			@Html.DisplayNameFor(model => model.Books.BookAuthor)
		</dt>
		<dt class="col-10">
			@Html.DisplayFor(model => model.Books.BookAuthor)
		</dt>
		<dt class="col-2">
			@Html.DisplayNameFor(model => model.Books.BookDescription)
		</dt>
		<dt class="col-10">
			@Html.DisplayFor(model => model.Books.BookDescription)
		</dt>
	</dl>
</div>

<div>
	<a class="btn btn-secondary" asp-page="./Index">Back</a>

	<a class="btn btn-primary" asp-page="./Edit" asp-route-id="@Model.Books.BookId">Edit</a>
</div>